body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.pong-game {
    position: relative;
}

.pong-table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
}

.left-paddle, .right-paddle, .ball {
    position: absolute;
    background-color: #fff;
}

.left-paddle {
    width: 10px;
    height: 80px;
    left: 10px;
    top: 160px;
}

.right-paddle {
    width: 10px;
    height: 80px;
    right: 10px;
    top: 160px;
}

.ball {
    width: 20px;
    height: 20px;
    left: 290px;
    top: 190px;
    border-radius: 50%;
}
