<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + 'chatcool'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.ball_velocity_z + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
//				Ce bout de code en bas modifie la taille de l'input box a chaque fois que l'on appuie sur enter
//				if (document.querySelector('#chat-message-input').size == "100")
//					document.querySelector('#chat-message-input').size = "150";
//				else 
//					document.querySelector('#chat-message-input').size = "100";
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
		document.addEventListener('keyup', function(event){
			console.log(event);
			if (event.keyCode == 37)
			{
				console.log('Left arrow pressed');
				chatSocket.send(JSON.stringify({
					'message' : 'Left arrow pressed'
				}));
			}
			else if (event.key == 'ArrowUp')
			{
				console.log('Up arrow pressed');
				chatSocket.send(JSON.stringify({
					'message' : 'Up arrow pressed'
				}));
			}
			else if (event.keyCode == 39)
			{
				console.log('Right arrow pressed');
				chatSocket.send(JSON.stringify({
					'message' : 'Right arrow pressed'
				}));
			}
			else if (event.keyCode == 40)
			{
				console.log('Down arrow pressed');
				chatSocket.send(JSON.stringify({
					'message' : 'Down arrow pressed'
				}));
			}
		});
    </script>
</body>
</html>