<!DOCTYPE html>
<html>
	<title> Index </title>
<head> Welcome to login page, please sign in with the form below, if you dont have an account, follow the appropriate link </head>
{% load static %}
	<body>
		<br>
		<form action="/login/sign-in" method="POST">
			{% csrf_token %}
			<label for="login">Login: </label><br>
			<input type="text" id="login" name="login"> <br>
			<label for="password">Password: </label><br>
			<input type="text" id="password" name="password"><br><br>
			<input type="submit" value="Submit">
	{% comment %} 		{{form.as_p}} {% endcomment %}
			<br>
		  </form>
		  <br>
		<a href="{% url 'render_register_form' %}">Register Form</a>
	</body>
</html>
