<!DOCTYPE html>
<html>
	<title> Index </title>
<h3> Welcome to login page, please sign in with the form below,<br> if you dont have an account click on the link to create one </h3>
<br>
{% for message in messages%}
	{{message}}
{% endfor %}
{% load static %}
	<body>
		<form action="/auth/" method="POST">
			{% csrf_token %}
			<label for="login">Login: </label><br>
			<input type="text" id="login" name="login"> <br>
			<label for="password">Password: </label><br>
			<input type="password" id="password" name="password"><br><br>
			<input type="submit" value="Submit">
	{% comment %} 		{{form.as_p}} {% endcomment %}
			<br>
		  </form>
		  <br>
		<p> Create a new account <a href="{% url 'register_form' %}">here</a></p>
	</body>
</html>
