<html> 

<head> 
<title="formulaire" />
</head>

<body> 
	{% for message in messages%}
		{{message}}
	{% endfor %}
	<form action="/auth/register/" method="POST">
		{% csrf_token %}
		<label for="name">Name: </label><br>
		<input type="text" id="name" name="name"><br>
		<label for="login">Login: </label><br>
		<input type="text" id="login" name="login"> <br>
		<label for="password">Password: </label><br>
		<input type="text" id="password" name="password"><br><br>
		<input type="submit" value="Submit">
{% comment %} 		{{form.as_p}} {% endcomment %}
		<br>
	  </form>

	 <br> 
	  <p>Go back to login form <a href="{% url 'login_form'%}">here</a></p>


</body>


</html>
