body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
.container3 {
    top: 0px;
    position: absolute;
    display: none;
    width: 150px;
    height: 75px;
    background: black;
    border-radius: 2px;
    border: 2px solid white;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 12px 14px;
    gap: 17px;
    box-shadow: 0px 0px 3px black;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-display {
    width: 54px;
    height: 40px;
    background: #080001;
    border-radius: 5px;
    border: 2px solid white;
    font-family: "Silkscreen", cursive;
    font-style: normal;
    font-weight: 67;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #f94f6d;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container2 {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-3 {
    text-align: center;
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.l-3 {
    animation-delay: 1s;
}
.load-3 .line:nth-last-child(1) {
    animation: loadingC 1s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: loadingC 1s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: loadingC 1s 0.3s linear infinite;
}
@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.container {
    font-family: 'Roboto Condensed', sans-serif;
    display: none;
    position: absolute;
    background-color: black;
    top: 0;
    padding: 15px;
    user-select: none;
    text-align: center;
}

#countdown {
    user-select: none;
    font-family: 'Roboto Condensed', sans-serif;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    color: white;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    -webkit-opacity: 1.0;
    -moz-opacity: 1.0;
    opacity: 1.0;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: all 0.4s ease-out;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}
#countdown.puffer {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(1.6,1.6);
    -moz-transform: scale(1.6,1.6);
    -ms-transform: scale(1.6,1.6);
    -o-transform: scale(1.6,1.6);
    transform: scale(1.6,1.6);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.pong-game {
    position: relative;
	z-index: 1050;
}

.pong-table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
}

.left-paddle, .right-paddle, .ball {
    position: absolute;
    background-color: #fff;
}

.left-paddle {
    width: 10px;
    height: 80px;
    left: 10px;
    top: 160px;
}

.right-paddle {
    width: 10px;
    height: 80px;
    right: 10px;
    top: 160px;
}

.ball {
    width: 20px;
    height: 20px;
    left: 290px;
    top: 190px;
    border-radius: 50%;
}
